@font-face {
   font-family: 'Druk Wide Bold';
   font-display: swap;
   src: url('file:///C:/Users/micha/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-03_230214/fonts/Druk%20Wide%20Bold/font.ttf');
}
